{% extends 'dashboard/base.html' %}


{% block content %}

    <div class="d-flex flex-column mx-5" style="margin-top: 13vh">
       <nav aria-label="breadcrumb mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Statistique</li>
            </ol>
       </nav>

        <div class="row me-3 gap-3">
            <div class="col bg-white rounded-3 px-3 py-2">
                <h5>Total Article</h5>
                <p>0</p>
            </div>
            <div class="col bg-white rounded-3 px-3 py-2">
                <h5>Total Article</h5>
                <p>0</p>
            </div>
            <div class="col bg-white rounded-3 px-3 py-2">
                <h5>Total Article</h5>
                <p>0</p>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}

{% endblock %}